<!DOCTYPE html>
<html>
<head>
  <title>RFID Логин</title>
    <style>
    #rfid-tag-input {
      position: absolute;
      left: -9999px;
      top: -9999px;
      /*  Или: */
      clip: rect(0 0 0 0); 
    }
  </style>
</head>
<body>
  <h2>RFID Логин</h2>

  <form method="post" id="rfid-form">
    {% csrf_token %}
    <input  name="rfid_tag" id="rfid-tag-input">
  </form>

  <script>
    window.onload = function() {
    document.getElementById("rfid-tag-input").focus();
  };
  </script>

</body>
</html>